.order {
    background: url('../../../../public/img/second.svg') center no-repeat;
    background-size: cover;
    background-color: #272733;
    max-width: 1920px;
    height: 1000px;
    display: block;
    margin-top: 0px;
    width: 100%;

    @include lap {
        & {
            padding-bottom: 60px;
            height: auto;
        }
    }
}

.order-title {
    display: block;
    margin: 0 auto;
    padding-top: 160px;
    text-align: center;

    &__span {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;

        &--highlight {
            color: $color-highlight;
        }

        @include hands {
            & {
                font-size: 32px;
            }
        }
    }

    @include lap {
        & {
            padding-top: 100px;
        }
    }
}

.order-subtitle {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    color: #9F9FA1;
    font-size: 18px;
}

.ellips__container {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;

    @include lap {
        & {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 30%;
        }
    }

    @include phone {
        & {
            padding-left: 15%;
        }
    }
}

.ellips__item {
    position: relative;
    display: inline-block;
    width: 100px;

    @include lap {
        & {
            display: block;

        }
    }


    &--img {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate3d(-50%, 165%, 0);
        z-index: 1;

        @include lap {
            & {
                position: static;
                margin-top: 50px;
                transform: translate3d(48%, -115%, 0);
                width: 30px;
                height: 30px;
            }
        }
    }

    &:before {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-image: url("../../../../public/img/ellips.svg");
        background-size: cover;
        min-width: 30px;
        min-height: 30px;
        position: absolute;
        content: "";
        top: 0%;
        left: 0%;
        z-index: 0;

        @include lap {
            & {
                width: 60px;
                height: 60px;
            }
        }

    }


}

.ellips__point-box {
    position: absolute;
    width: 140px;
    z-index: 1;
    transform: translate3d(83%, 118%, 0);

    @include lap {
        & {
            display: none;
        }
    }
}




.ellips__point {
    display: inline-block;
    width: 6px;
    background: white;
    height: 6px;
    margin-right: 15px;
    border-radius: 50%;
}

.ellips__item-span {
    position: absolute;
    left: 0%;
    top: 8rem;
    transform: translate3d(-18%, 0, 0);
    z-index: 1;
    color: #C9C9CC;
    display: block;
    min-width: 200px;
    font-size: 16px;

    @include lap {
        & {
            font-size: 16px;
            top: 0;
            left: 100%;

        }
    }
}

.form {
    margin-top: 250px;

    @include lap {
        & {
            margin-top: 50px;

        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 40px;

        @include hands {
            & {
                flex-wrap: wrap;
            }
        }

    }

    &__row-item {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 48px;
        width: 66%;

        @include hands {
            & {
                width: 80%;
                margin-left: 10%;
            }
        }

    }

    &__row-item-box {
        display: flex;
        justify-content: space-between;

    }

    &__row-span {
        margin-top: -10px;
        font-size: 18px;
        color: #c9c9cc;
    }

    &__range {
        width: 100%;
        height: 10px;
        appearance: none;
        border-radius: 5px;
        color: red;

        box-shadow: inset 0 1px #ccc, inset 0 1px 1px #575555, inset 0 -2px #ccc;
        background: #fff linear-gradient(#BCBCBC, #fff0f5);


        &::-webkit-slider-thumb,
        &::-moz-range-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border: 1px solid #818181;
            border-radius: 2px;
            background-image: linear-gradient(#dedede, #f2f2f2);
            box-shadow: -13px 0 #40310a, -26px 0 #40310a, -39px 0 #40310a, -52px 0 #40310a, -65px 0 #40310a, -78px 0 #40310a, -91px 0 #40310a, -104px 0 #40310a, -117px 0 #40310a, -130px 0 #40310a, -143px 0 #40310a, -156px 0 #40310a;
            background-color: red;
            border: 3px solid red;
        }



    }



    &__button {
        width: 33%;
        height: 48px;
        padding: 10px;
        border-radius: $border-radius;
        background: #fff;
        font-size: 18px;
        color: $color-titles;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        @include hands {
            & {
                width: 46%;
                margin-top: 40px;
                font-size: 13px;
            }
        }

        @include hands {
            & {
                width: 80%;
                margin-top: 40px;
                font-size: 13px;
                margin-left: 10%;
            }
        }


        &--submit {
            background: #3e9cdc;
            color: white;
            border: 1px solid white;
            display: block;
            margin: 0 auto;
            padding: 10px 15px;
        }
    }

    &__button-img {
        padding-right: 10px;
    }

    &__input {
        width: 33%;
        height: 48px;
        padding: 10px;
        line-height: 1.3;
        border-radius: $border-radius;
        font-size: 18px;

        @include hands {
            & {
                width: 46%;
                margin-top: 40px;
            }
        }



        &::placeholder {
            font-size: 18px;
            color: $color-titles;
            line-height: 1.3;
            font-family: $font-main;

            @include phone {
                & {
                    font-size: 12px;
                }
            }
        }
    }

    &__option {
        font-size: 18px;
        color: #fff;
        font-family: $font-main;
        background: #272733;


    }


}

.selected,
*:focus {
    border: 2px solid $color-highlight;
    outline-color: $color-highlight;
}


.form__select {
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    color: $color-titles;
    line-height: 1.3;
    width: 30%;
    height: 48px;
    padding: 10px;

    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: $border-radius;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;



    @include hands {
        & {
            width: 46%;
        }
    }

    @include phone {
        & {
            font-size: 12px;
            padding-left: 3px;
        }
    }
}





.input-label {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}
